body {
  font-family: "Crimson Text", serif;
  background-color: #4444;
}

.text-muted {
  display: none;
}

.landing-page {
  background-image: url('https://bit.ly/37HEjvx');
  height: 500px;
  background-size: cover;
}

#welcome {
  padding-top: 50px;
  font-size: 20px;
}

.user{
  text-transform: capitalize;
}

.des,.des1,.des2,.des3{
  color:white;
  border-radius: 50%;
  height:100px;
  width: 100px;
  /* padding-top:20%; */
  font-size:50px;
  vertical-align: middle
}
.des{
  border: 3px solid orange;
}
.des1{
  border: 3px solid brown;
}
.des2{
  border: 3px solid blue;
}
.des3{
  border: 3px solid green;
}