<header id="header">
    <div class="header-main">
        <div class="box-left">
            <div class="item bt-menu">
                <div class="ico-menu">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
                <span class="has-tablet">MENU</span>
            </div>
        </div>
        <div class="box-right">
            <div class="item bt-search " id="js-search-container">
                <svg class="ico-svg" viewbox="0 0 14 14">
                    <use xlink:href="https://www.awwwards.com/assets/images/sprite-icons.svg#search"></use>
                </svg>

            </div>

            <div> <strong><a class="text-black" href="{% url 'login' %}">Register / log
                in</a></strong>
            </div>

            <div class="item has-tablet" id="bt-submit">
                <a href="{% url 'upload'%}" class="button button-small">
                    <span>SUBMIT YOUR SITE!</span>
                </a>

            </div>
        </div>
       
    </div>
</header>
